body
{
    font-family:Arial, Helvetica, sans-serif;
    padding:0;
    font-size:12px;
    margin:0 auto;
    background: #fafafa;
}
.clear{
    clear:both;
}
h1{
    margin: 20px 4px 4px ;
}
a{
    color:#256c89;
}

header#top_header{
    background: #258dc8;
    background: -moz-linear-gradient(top, #258dc8 0%, #125275 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#258dc8), color-stop(100%,#125275));
    background: -webkit-linear-gradient(top, #258dc8 0%,#125275 100%);
    background: -o-linear-gradient(top, #258dc8 0%,#125275 100%);
    background: -ms-linear-gradient(top, #258dc8 0%,#125275 100%);
    background: linear-gradient(to bottom, #258dc8 0%,#125275 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#125275',GradientType=0 );
    box-shadow: 0px 1px 4px #666;
    padding: 0px;
    color: #fff;
}

header #title{
    float:left;
    padding-left: 20px;
}

#admin_menu{
    clear:both;
    background-color: #333;
    height: 30px;
    border-top: 1px solid #69C;
}

header #title a{
    text-decoration: none;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}
#header_links{
    padding-right: 20px;
}
#header_right{
    float:right;
}
#header_links a:hover{
    text-decoration: underline;
}
#header_right a{
    float:right;
}

#header_right li a{
    float:none;
}

#header_links li{
    list-style: none;
    display:inline;
}

#left_sidebar{
    float: left;
    margin: 0%;
    width: 15%;
}
#main_wrapper{
    margin: 0%;
    padding: 1%;
    background: #fafafa;
    color: #036;
    float: left;
    width: 83%;
    font-size: 1.1em;
    line-height: 2.3em;
    box-shadow: 0px -6px 8px #666;
}

.right{
    float:right;
}
.left{
    float: left;
}
#yw0{
    padding: 0;
}
#main_wrapper h1{
    color: #236B94;
    margin: 0;
    font-family: "trebuchet ms", tahoma, arial;
}
#yw0 table th{
    border: 1px solid #5394BA;
}
#yw0 table td{
    border: 1px solid #C9DBE5
}
.ui-accordion-content{
    padding: 0 2.2em !important;
}

#sidebar {
    padding: 20px 20px 20px 0;
}
#main_wrapper, #left_sidebar{
    position: relative;
}
div.summary, .list-view .summary, .grid-view .summary {
    float: right;
    margin: 0px 5px;
}
.row.buttons{
    clear: both
}
#user-grid, .grid-view{
    margin-top: -44px;
}
.news-view{
    border: 1px solid #ccc;
    padding: 1%;
    box-shadow: 1px 1px 0px #fff;
}