body
{
    font-family:Arial, Helvetica, sans-serif;
    padding:0;
    font-size:12px;
    margin:0 auto;
    color: #0e4354;
}
.clear{
    clear:both;
}
a{
    color:#256c89;
}
#header h1{
    float:left;
}

#header_right{
    float:right;
}

#header_right a{
    float:right;
}

#header_right li a{
    float:none;
}

#header_links li{
    list-style: none;
    display:inline;
}