.date, .event-details{
    float: left;
}
.event-details{
	padding: 0em 2em;	
}
.event-details h1{
	margin: 0px 0px 10px 0px;
}
.event-desc{
	border-radius: 4px;
	float: left;
	width: 100%;
	color: #666;
}
.event-desc h2{
	font-size: 18px;
	margin: 12px 0px 0px 10px;
	float: left;
}
.event-desc .desc-holder{
	float: left;
	padding: .5em;
	margin-top: 3px;
}
.event-org{
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	color: #333;
}
.event-details-list{
	margin-left: 20px;
}
.event-list-venue{
	width: 180px;
	overflow: hidden;
}