/*
Source : http://line25.com/tutorials/how-to-create-a-cool-blog-post-date-icon-with-css
*/

.date {
    width: 130px; height: 160px;
    background: #fcfcfc; 
    background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
    background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%); 
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.date p {
    font-family: Helvetica, sans-serif;
    font-size: 100px; text-align: center; color: #9e9e9e; 
}

.date p span {
    background: #d10000; 
    background: linear-gradient(top, #d10000 0%, #7a0909 100%);
    background: -moz-linear-gradient(top, #d10000 0%, #7a0909 100%);
    background: -webkit-linear-gradient(top, #d10000 0%, #7a0909 100%);
    font-size: 45px; font-weight: bold; color: #fff; text-transform: uppercase; 	
    display: block;
    border-top: 3px solid #a13838;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    padding: 6px 0 6px 0;
}

@-moz-document url-prefix() {
    .date {
    padding: 16px 0 0 0;
}
.date p span {
    padding: 9px 0 3px 0;
}
}