
/*Reset Foundation*/

body{
    cursor: auto;
    font-family: "PT Sans", Verdana, "Droid Sans", sans-serif;;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "PT Sans Narrow";
}

/*Generalized Classes*/

.center{
    text-align: center;
}

.inline{
    display: inline;
}

/* Header */

header h1{
    font-size: 1.95em;
    margin-top: 0;
}

.site-logo{
    margin-bottom: 0.1em;
}

header form{
    float: right;
}

header form, header form input[type="text"], header form input[type="password"]{
    margin:0;
}

.login-widget{
    padding-right: 0;
}

.login-widget .column{
    padding: 0.1em;
}

header hr{
    margin: 0.3em 0.9em;
}

/*Foundation uses it's own separator, so hide it*/
.breadcrumb-separator{
    display: none;
}

.breadcrumbs{
    background-color: inherit;
    border: none;
    display: inline-block;
}

/*AweCMS main layout*/

.content, .sidebar{
    margin-top: 1em;
}

.content{
    float: right;
    line-height: 1.5em;
    word-spacing: 0.07em;
    letter-spacing: 0.04em;
    text-rendering: optimizeLegibility;
    color: #666666;
    /*font-size: large;*/
}

footer{
    padding: 2em;
}

/*Forms*/

label{
    display: inline-block;
}

.form form input[type="text"], .form form input[type="password"], .form form select, .form form textarea{
    width: auto;
}

label + input[type="checkbox"], input[type="hidden"] + input[type="checkbox"]{
    display: inline-block;
    margin: 0.4em 0.4em 0 0;
}

.row label{
    font-weight: bold;
}

.errorMessage, span.required{
    color: red;
    display: inline;
}

.success label{
    color:#18A011;
}

/*Portlet*/

.portlet{
    clear: both;
}

.portlet-title{
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: .5em;
}

.portlet-content ul li{
    list-style: none;
    border-bottom: 1px solid #E5E5E5;
    padding: 0.1em;
}


div.view {
    background: none repeat scroll 0 0 #F2F2F2;
    border-color: #D9D9D9;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1.25em;
    padding: 1.25em;
}






/*Media Queries*/
/*
@media only screen and (max-width: 767px) {

}
*/
@media only screen and (max-width: 550px) {
    .site-slogan{
        /*margin-top: -1.5em;*/
    }

    header .bottom-right{
        float: none !important;
    }

    .bottom-right nav{
        float: none !important;
    }

    .right{
        float: none !important;
    }

    header form{
        /*float: none !important;*/
    }

    .menu{
        float: none !important;
    }

    nav ul li {
        border-bottom: 1px solid silver;
        width: 100%;
        text-align: center;
    }
}


/*Debug*/
/*.column{ border: 1px dotted; }*/

.share-portlet{
    padding-top: 1em;
}

.share-portlet .portlet-content a{
    padding: 0.3em;
}

.field-name{
    font-weight: bold;
    display: inline;
}

.field-value{
    display: inline;
}

li.active a{
    border-bottom: 2px solid silver;
}

a:active {
  position: relative;
  top: 1px;
}