/* Reset Foundation*/

body{
    cursor: auto;
    font-family: 'PT Sans';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans Narrow';
}

/* Header */

header form input[type="text"], input[type="password"]{
    display: inline-block;
    width: auto;
    margin:0;
}

.site-title, .site-slogan, .site-logo{
    /*padding-left: 0px;*/
}

.site-logo{
    /*margin-bottom: 0.3em;*/
}

header h1{
    font-size: 1.95em;
    margin-top: 0;
}

header form{
    margin: 0 0 0.5em;
}

header hr{
    margin: 0.3em 0.9em;
}

#main-nav ul{
    padding: 0 0.6em;
}

/*Foundation uses it's own separator, so hide it*/
.breadcrumb-separator{
    display: none;
}

/*AweCMS main layout*/

.main{
    margin-top: 1em;
}

.content{
    float: right;
    line-height: 1.5em;
    word-spacing: 0.07em;
    letter-spacing: 0.04em;
    text-rendering: optimizeLegibility;
    color: #666666;
    /*font-size: large;*/
}

.center{
    text-align: center;
}

footer{
    padding: 2em;
}



/*Portlet*/

.portlet{
    clear: both;
}

.portlet-title{
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: .5em;
}

.portlet-content ul li{
    list-style: none;
    border-bottom: 1px solid #E5E5E5;
    padding: 0.1em;
}



/*Debug*/

/*.column{ border: 1px dotted; }*/