@charset "UTF-8";

/** 

 * Abobe Advanced CSS Drop-Down Menu Theme
 *
 * @file        default.advanced.css
 * @name        Adobe
 * @version     0.1
 * @type        transitional
 * @browsers    Windows: IE7+, Opera7+, Firefox3+
 *              Mac OS: Safari2+, Firefox3+
 *
 * @link        http://www.lwis.net/free-css-drop-down-menu
 * @copyright   2008-2012 Live Web Initiatives, http://www.lwis.net
 *
 */

@import "base.css";


/* -- Base style extension -- */

ul.dropdown li a ,ul.dropdown li span{
 display: block;
 padding: 7px 14px;
 color: #fff;
}


/* -- Base style override -- */

ul.dropdown li {
 padding: 0;
}


/* -- Base style reinitiate: post-override activities -- */

ul.dropdown li.dir {
 padding: 7px 20px 7px 12px;
}

ul.dropdown ul li.dir {
 padding-right: 15px;
}


/* -- Custom -- */

ul.dropdown ul a,ul.dropdown ul span {
 padding: 4px 5px 4px 12px;
}

ul.dropdown ul a:hover ,ul.dropdown ul span:hover {
 padding: 3px 5px 3px 11px;
 border: solid 1px #ddd;
 background-color: #eee;
 font-weight: bold;
}